<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Admin - Discord CAS Connector</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- Frank Matranga's RPI CSS classes -->
    <link rel="stylesheet" href="https://apexal.github.io/rpi-css/rpi.css">
    <style>
        .rpi-container {
            margin-top: 2em;
        }

        .rpi-select {
            display: block;
        }

        form {
            margin: 2em 0;
            padding: 2em;
            border: 2px solid var(--rpi-darkblue);
        }

        form .rpi-field:last-of-type {
            margin-bottom: 2em;
        }

        form > h2 {
            margin-top: 0;
        }
    </style>
    {% block head %}{% endblock %}
</head>

<body>
    <header class="rpi-navbar">
        <span class="navbar-brand">Discord CAS Connector</span>
    </header>
    <main>
        {% if alert %}
        <div class="rpi-alert">{{ alert }}</div>
        {% endif %}
        <div class="rpi-container">
            {% block content %}{% endblock %}
        </div>
    </main>
</body>

</html>