{% extends "layout.html" %}
{% block content %}
<h1 class="rpi-page-title">{{ client['name'] }}</h1>

{% if user %}
    <div class="stage user-profile">
        Profile set as <strong>{{ user.first_name }} {{ user.last_name }} {{ user.graduation_year }}</strong> <a class="reset-link" href="{{ url_for('profile') }}">✏️</a>
    </div>
    {% if discord_user %}
    <div class="stage discord-user">
        Discord connected as <strong>{{ discord_user.username }}#{{ discord_user.discriminator }}</strong> <a class="reset-link" href="{{ url_for('reset_discord') }}">✏️</a>
    </div>

        {% if discord_member %}
        <div class="stage discord-member">
            Joined server as <strong>@{{ discord_member.nick }}</strong>

            <a class="reset-link" href="{{ url_for('reset_discord') }}" onclick="return confirm('This will kick your currently connected Discord account from the server.')">✏️</a>
        </div>
        <a href="https://discord.com/channels/{{ discord_server_id }}" class="rpi-button is-fullwidth" style="margin-top: 1rem;">
            <img class="icon" src="https://discord.com/assets/1c8a54f25d101bdc607cec7228247a9a.svg" width="25px" alt="Discord logo" style="margin-right: 5px">Open Discord Server</a>
        {% else %}
        <p>
            Make sure you agree with <a href="https://discord.com/privacy" target="_blank">Discord's Privacy Policy</a> and
            want
            to use your Discord account on a monitored, school server. You can always use a separate Discord account for
            academic
            use to hide game activity, Spotify, etc. if desired but it's certainly not necessary!
        </p>
        <a href="{{ url_for('join') }}" class="rpi-button is-fullwidth"><span>Join Server as</span> <strong>{{ nickname }}</strong></a>
        {% endif %}
    {% else %}
    <a class="rpi-button is-fullwidth" href="{{ discord_oauth_url }}">Connect Discord Account</a>
    {% endif %}
{% else %}
{% include "includes/user_profile_form.html" %}
{% endif %}

{% endblock %}