{% extends "layout.html" %}
{% block content %}
<h1 class="rpi-page-title">Discord CAS Connector</h1>

{% if is_logged_in %}
<div class="stage user-profile">
    Profile set as <strong>{{ user.first_name }} {{ user.last_name }} {{ user.graduation_year }}</strong> <a class="reset-link" href="{{ url_for('profile') }}">✏️</a>
</div>
<div class="stage discord-user">
    Discord connected as <strong>@{{ discord_user.username }}#{{ discord_user.discriminator }}</strong> <a class="reset-link" href="{{ url_for('reset_discord') }}" onclick="return confirm('This will kick your currently connected Discord account from all connected servers.')">✏️</a>
</div>

<h2 style="margin-bottom: -20px; margin-top: 2rem">Your Joined Servers</h2>
<ul class="rpi-arrow-nav">
    {% for client in joined_clients %}
    <li><a href="{{ url_for('client_index', client_id=client.client_id) }}">{{ client.name }}</a></li>
    {% endfor %}
</ul>

<h2 style="margin-bottom: -20px; margin-top: 2rem">Public Servers</h2>
<ul class="rpi-arrow-nav">
    {% for client in public_clients %}
    <li><a href="{{ url_for('client_index', client_id=client.client_id) }}">{{ client.name }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>
    This app/bot allows Discord users to verify their RPI identity through CAS before joining a server. It is free to use and is maintained and deploy by
    <a href="https://github.com/Apexal">Frank Matranga '22 (matraf)</a>.
</p>
<strong>Interested? Contact me and I will walk you through the process. It takes only a few minutes.</strong>
<a href="mailto:matraf@rpi.edu?subject=Discord+CAS+Connector" class="rpi-button red is-fullwidth">Email Frank (matraf@rpi.edu)</a>
{% endif %}
{% endblock %}