{% extends "layout.html" %}
{% block content %}
<h1 class="rpi-page-title">{{ client['title'] }}</h1>
<p class="rpi-h2">You are logged in with CAS as <strong>{{ rcs_id }}@rpi.edu</strong> <a href="/cas/logout">(Logout)</a></p>

{% if profile %}
<div class="stage user-profile">
    Profile set as <strong>{{ profile.first_name }} {{ profile.last_name }} '{{ profile.graduation_year }}</strong> <a class="reset-link" href="{{ url_for('reset_profile') }}">✏️</a>
</div>
    {% if discord_user %}
    <div class="stage discord-user">
        Discord connected as <strong>{{ discord_user.username }}#{{ discord_user.discriminator }}</strong> <a class="reset-link" href="{{ url_for('reset_discord') }}">✏️</a>
    </div>

        {% if discord_member %}
        <div class="stage discord-member">
            Joined server as <strong>@{{ discord_member.nick }}</strong>

            <a class="reset-link" href="{{ url_for('reset_discord') }}" onclick="return confirm('This will kick your currently connected Discord account from the server.')">✏️</a>
        </div>
        <a href="https://discord.com/channels/{{ discord_server_id }}" class="rpi-button is-fullwidth" style="margin-top: 1rem;">
            <img class="icon" src="https://discord.com/assets/1c8a54f25d101bdc607cec7228247a9a.svg" width="25px" alt="Discord logo" style="margin-right: 5px">Open Discord Server</a>
        {% else %}
        <p>
            Make sure you agree with <a href="https://discord.com/privacy" target="_blank">Discord's Privacy Policy</a> and
            want
            to use your Discord account on a monitored, school server. You can always use a separate Discord account for
            academic
            use to hide game activity, Spotify, etc. if desired but it's certainly not necessary!
        </p>
        <a href="{{ url_for('join', client_name=client_id) }}" class="rpi-button is-fullwidth">Join Server</a>
        {% endif %}
    {% else %}
    <a class="rpi-button is-fullwidth" href="{{ discord_oauth_url }}">Connect Discord Account</a>
    {% endif %}
{% else %}
{% include "includes/user_profile_form.html" %}
{% endif %}

{% endblock %}