{% extends "layout.html" %}
{% block content %}
<h1 class="rpi-page-title">Discord CAS Connector</h1>

<p>
    This app/bot allows Discord users to verify their RPI identity through CAS before joining a server. It is free to use and is maintained and deploy by
    <a href="https://github.com/Apexal">Frank Matranga '22 (matraf)</a>.
</p>

<strong>Interested? Contact me and I will walk you through the process. It takes only a few minutes.</strong>
<a href="mailto:matraf@rpi.edu?subject=Discord+CAS+Connector" class="rpi-button red is-fullwidth">Email Frank (matraf@rpi.edu)</a>

{% endblock %}